.order-page {
  min-height: 100vh;
  background-color: #ffffff;
  
  .status-bar {
    width: 100%;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 20rpx;
    
    .detail-icon {
      margin-left: 10rpx;
    }
  }
  
  .search-box {
    padding: 20rpx 30rpx;
    background-color: #ffffff;
  }
  
  .task-list {
    height: calc(100vh - 400rpx);
  }
  
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200rpx;
  }
  
  .load-more,
  .no-more {
    text-align: center;
    padding: 30rpx 0;
    color: #999;
    font-size: 24rpx;
  } 
  
  .scan-button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20rpx 30rpx 40rpx;
    background-color: #ffffff;
    box-shadow: 0 -2rpx 20rpx rgba(0, 0, 0, 0.1);   
    
    ::v-deep .u-button {
      box-shadow: 0 4rpx 12rpx rgba(41, 121, 255, 0.3);
    }
  }
}